# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.NumGen.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\NumGen\.idea\.idea.NumGen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
